* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'DMSans', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 3.5rem;
}
  
  :root
{
     --bg-color: #171717;
     --secound-bg-color: #333333;
     --text-color: #F9F9F9;
     --secound-color: #828282;
     --main-color: #00DF5E;     
}

body
{
    width: '';
    background: var(--bg-color);
    color: var(--text-color);

}

header
{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 35px 150px;
    transition-duration: .3s;

}

.logo
{
    color: var(--text-color);
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 1px;
    

}

.navbar
{
    display: flex;
}

.navbar li
{
    position: relative;
}

.navbar a
{
    color: var(--text-color);
    font-weight: bold;
    font-size: 18px;
    padding:40px 45px;
}

#menu-icon
{
    font-size: 18px;
    color: var(--text-color);
    z-index: 10001;
    cursor: pointer;
    display: none;
}

.section
{
    padding: 120px 20%;
}

.home
{
    height: 100vh;
    width: 100vw;
    background: url();
    background-size: cover;
    background-position: 15rem;
    position: relative;
    display: grid;
    grid-template-columns:repeat(1, 1fr) ;
    align-items: center; 
}

.home-text h1
{
    margin: 20px 150px;
    font-size: 36px;
    
}


.home-text h3
{
    margin: 20px 150px 20px;
    font-size: 18px;
    color: var(--secound-color);    
}











  @media (max-width: 420px) {
      
    

}