:root {
  --bg-color: #171717;
  --secound-bg-color: #333333;
  --third-bg-color: #212121;
  --text-color: #f9f9f9;
  --secound-color: #171717;
  --third-color: #828282;
  --main-color: #00df5e;
  --gig-font: 36px;
  --h2-font: 32px;
  --p-font: 18px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DMSans", sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-padding-top: 3.5rem;
}

body {  
  background: var(--bg-color);
  color: var(--text-color);
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  
  
  
}

header {
  position: fixed;
  width: 100%;
  max-width: 1440px;  
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  transition-duration: 0.4s;  
  margin: 0 auto;
  padding: 35px 9%;
  
}

header.sticky {       
  padding: 10px 9%;
  background: var(--secound-bg-color);
  margin: 0 auto;
}


.logo {
  color: var(--text-color);
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 1px;
}

.navbar {
  display: flex;
}

.navbar li {
  position: relative;
}

.navbar a {
  color: var(--text-color);
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
}

.navbar a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: -4px;
  transition: ease 0.4s;
}

.navbar a:hover ::after {
  width: 100%;  
}

#menu-icon {
  font-size: 32px;
  color: var(--text-color);
  z-index: 10001;
  cursor: pointer;
  display: none;
}

section {
  padding: 120px 12%;
}

.home {
  width: 100%;
  height: 100vh;  
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
  padding: 250px 12%;
  
}


.home-text h1 {
  margin: 20px 0px 20px;
  font-size: var(--gig-font);
}

.home-text a {
  margin-right : 15px;
}

span {
  color: var(--main-color);
}

.home-text h3 {
  font-size: 18px;
  margin-bottom: 55px;
  color: var(--third-color);
}

.btn {
  display: inline-block;
  background: var(--main-color);
  color: var(--secound-color);
  border: 1px solid transparent;
  font-weight: 500;
  padding: 13px 30px;
}

.btn:hover {
  color: var(--text-color);
  border: 1px solid var(--main-color);
  background: transparent;
}

.btn2 {
  display: inline-block;
  background: var(--bg-color);
  color: var(--text-color);
  border: 1px solid var(--secound-bg-color);
  font-weight: 500;
  padding: 13px 30px;
}

.btn2:hover {
  border: 1px solid var(--main-color);
  background: transparent;
}

.home-image {

}

.about {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 70px 25%;
  
}

.about-text h2 {
  font-size: var(--h2-font);
  color: var(--h2-text-color);
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 30px;
}

.about-text p {
  color: var(--third-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.about-social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 85px;
  margin-bottom:127px;
}

.about-row h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  color: var(--text-color);
}

.about-row p {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  color: var(--third-color);
}

.about-row i {
  width: 65px;
  height: 65px;
  background: #212121;
  display: inline-flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  font-size: 32px;
  color: var(--main-color);
  margin-right: 25px;
  margin-left: 25px;
  margin-bottom: 19px;
  transition: all 0.45s ease-in;
}

.center {
  text-align: center;
}

.center h2 {
  font-size: var(--h2-font);
  margin-bottom: 15px;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.center p {
  color: var(--secound-color);
  letter-spacing: 1px;
  line-height: 28px;
  font-size: var(--p-font);
}

.projects{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 45px 12%;
  margin:0 auto;

}
.projects-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  grid-gap: 45px;  
  margin-top: 30px;
}

.row {
  background: var(--third-bg-color);
  border: 1px solid #333;
  padding: 25px 7%;
  cursor: pointer;
  transition: all 0.35s;
}

.retangulo {
  padding: 60px 12%;
  border: 1px solid #333;
  background: #171717;
  margin-bottom: 23px;
}

.row h3 {
  color: var(--text-color);
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 6px;
}

.row p {
  color: #828282;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.row:hover {
  transform: translateY(-8px);
}

.service {
  background: var(--bg-color);
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  align-items: center;
  grid-gap: 3rem;
}

.service-content {
}

.skills {
}

.skill-content {
}

.footer {
  text-align: center;
  background: var(--third-bg-color);
  padding: 20px 0%;
}

.footer p {
  font-size: 16px;
  color: var(--third-color);
  font-weight: 400;
}

@media (max-width: 1270px) {
  header {
    padding: 18px 4%;
    transition: 0.2s;
  }

  header.sticky {
    padding: 10px 4%;
    transition: 0.2s;
  }

  section {
    padding: 80px 4%;
    transition: 0.2s;
  }

  :root {
    --gig-font: 4.8rem;
    --h2-font: 3.8rem;
    --p-font: 1rem;
    transition: 0.2s;
  }
}

@media (max-width: 990px) {
  .home {
    height: 85vh;
  }

  #menu-icon {
    display: initial;
  }

  .navbar {
    position: absolute;
    top: -700px;
    left: 0;
    right: 0;
    flex-direction: column;
    text-align: right;
    background: var(--bg-color);
    transition: all.30s;
  }

  .navbar a {
    display: block;
    padding: 1.1rem;
    margin: 1.3rem;
    border-left: 2px solid var(--text-color);
  }

  .navbar a:hover {
    background: var(--main-color);
  }

  .navbar a::after {
    display: none;
  }

  .navbar.active {
    top: 100%;
  }

  .about {
    grid-template-columns: 1fr;
  }

  .about-img {
    text-align: center;
    margin-bottom: 30px;
  }

  .about-img img {
    max-width: 100%;
    width: 700px;
    height: auto;
  }

  .contact {
    grid-template-columns: 1fr;
  }

  .contact-img {
    text-align: center;
    margin-bottom: 25px;
  }

  .contact-form {
    order: 2;
  }

  .box img {
    max-width: 100%;
    width: 700px;
    height: auto;
  }
}
